<script src="/assets/template/d3.v3.min.js"></script>
<script src="/assets/template/techan.min.js"></script>

<!DOCTYPE html>
<meta charset="utf-8">
<style>

    body {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

/*    button {
        position: absolute;
        right: 20px;
        top: 440px;
        display: none;
    }*/

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    .ichimoku path {
        fill: none;
        stroke-width: 0.8;
    }

    .ichimoku path {
        stroke: #000000;
    }

    .ichimoku path.chikouspan {
        stroke: #BF5FFF;
    }

    .ichimoku path.tenkansen {
        stroke: #0033FF;
    }

    .ichimoku path.kijunsen {
        stroke: #FBB117;
    }

    .ichimoku path.kumo {
        opacity: 0.1;
    }

    .ichimoku path.kumo.up {
        fill: #00AA00;
    }

    .ichimoku path.kumo.down {
        fill: #FF0000;
    }

    .ichimoku path.senkouspana {
        stroke: #006600;
    }

    .ichimoku path.senkouspanb {
        stroke: #FF0000;
    }

</style>
<body>
<div id="row">
        <div class="col-md-4">
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Gráfico 10</h3>

<!--               <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div> -->
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td>Tenkan</td>
                        <td>Kijun</td>
                        <td>SenkouA</td>
                        <td>SenkouB</td>
                        <td>Chikou</td>
                    </tr>
                    <tr>
                        <td><label id="" name=""></label></td>
                        <td><label id="" name=""></label></td>
                        <td><label id="" name=""></label></td>
                        <td><label id="" name=""></label></td>
                        <td><label id="" name=""></label></td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-4">
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Mercado</h3>

<!--               <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div> -->
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td>Abertura</td>
                        <td>Maxima</td>
                        <td>Mínima</td>
                        <td>Último</td>
                        <td>Hora</td>
                    </tr>
                    <tr>
                        <td><label id="abertura" name="abertura"></label></td>
                        <td><label id="maxima" name="maxima"></label></td>
                        <td><label id="minima" name="minima"></label></td>
                        <td><label id="ultimo" name="ultimo"></label></td>
                        <td><label id="hora" name="hora"></label></td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-4">
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">Gráfico 2</h3>

<!--               <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div> -->
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: block;">
                <table class="table table-bordered table-hover">
                    <tr>
                        <td>Tenkan</td>
                        <td>Kijun</td>
                        <td>SenkouA</td>
                        <td>SenkouB</td>
                        <td>Chikou</td>
                    </tr>
                    <tr>
                        <td><label id="" name=""></label></td>
                        <td><label id="" name=""></label></td>
                        <td><label id="" name=""></label></td>
                        <td><label id="" name=""></label></td>
                        <td><label id="" name=""></label></td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>                
    </div>

    <div class="col-md-12">
        <div class="configdiv">
        <div id="grafico" name="grafico"></div>
        <div id="grafico2" name="grafico2"></div>
        </div>
    </div>


<div class="container">
    <div class="row">
        <div  class="col-md-12">
            <div  class="col-md-5">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Navegação</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div  class="col-md-12">
                                <div  class="col-md-7">                    
<!--                                   <a class="btn btn-app" onclick="javascript:push();">
                                    <i class="fa fa-play"></i> Play
                                  </a>
                                  <a class="btn btn-app">
                                    <i class="fa fa-pause"></i> Pause
                                  </a> -->
                                  <button id="button" name="button"  class="btn btn-block btn-success">Play</button>
                                </div>
                                <div  class="col-md-5">
                                    <div class="form-group">
                                        <label>
                                          <input type="radio" name="r2" class="minimal-red" checked>
                                          Manual
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                          <input type="radio" name="r2" class="minimal-red" checked>
                                          1 Segundo
                                        </label>
                                    </div>                                    
                                    <div class="form-group">
                                        <label>
                                          <input type="radio" name="r2" class="minimal-red" checked>
                                          2 Segundo
                                        </label>
                                    </div> 
                                </div>                                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>


            <div  class="col-md-3">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Negociação</h3>
                    </div>
                    <div class="box-body">
                      <button type="button" onclick="comprar();" class="btn btn-block btn-success">Comprar</button>
                      <button type="button" onclick="vender();" class="btn btn-block btn-danger">Vender</button>
                      <button type="button" onclick="vender();" class="btn btn-block btn-warning">Zerar</button>
                    </div>
                </div>
            </div>

            <div  class="col-md-4">
                <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Setup</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                          <label for="inputEmail3" class="col-sm-4 control-label">Email</label>

                          <div class="col-sm-8">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="col-sm-4 control-label">Password</label>

                          <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                          </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<script>

var count = 5;
var fechamento;
function chart(name, symbol, time, fullWidth, fullHeight, intra) {
    var margin = {top: 20, right: 30, bottom: 30, left: 30},
            width = fullWidth - margin.left - margin.right,
            height = fullHeight - margin.top - margin.bottom,
            volumeHeight = fullHeight*.25;

    if (intra){

        var parseIntradayDate = d3.time.format("%Y%m%d%H%M%Z").parse;

    }else{

        var parseDate = d3.time.format("%d-%b-%y").parse;

    }

    var x = techan.scale.financetime()
            .range([0, width]);

    var y = d3.scale.linear()
            .range([height, 0]);

    var candlestick = techan.plot.candlestick()
            .xScale(x)
            .yScale(y);

    var ichimoku = techan.plot.ichimoku()
            .xScale(x)
            .yScale(y);

    var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

    var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .tickFormat(d3.format(",.3s"));

    var svg = d3.select("#grafico").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("clipPath")
            .attr("id", "clip")
        .append("rect")
            .attr("x", 0)
            .attr("y", y(1))
            .attr("width", width)
            .attr("height", y(0) - y(1));

    svg.append('text')
            .attr("class", "symbol")
            .attr("x", 5)
            .text(name + " (" + symbol + ")");            

    var ichimokuIndicator = techan.indicator.ichimoku();
    // Don't show where indicators don't have data
    var indicatorPreRoll = ichimokuIndicator.kijunSen()+ichimokuIndicator.senkouSpanB();

    var feed;

    d3.csv('datas/' + symbol + ".csv", function(error, data) {
        var accessor = candlestick.accessor();

        feed = data.map(function(d) {
            // Open, high, low, close generally not required, is being used here to demonstrate colored volume
            // bars
            return {
                date: parseIntradayDate(d.Date + '-0260'),
                volume: +d.Volume,
                open: +d.Open,
                high: +d.High,
                low: +d.Low,
                close: +d.Close
            };
        }).sort(function(a, b) { return d3.ascending(accessor.d(a), accessor.d(b)); });

        svg.append("g")
                .attr("class", "ichimoku")
                .attr("clip-path", "url(#clip)");

        svg.append("g")
                .attr("class", "candlestick")
                .attr("clip-path", "url(#clip)");

        svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")");

        svg.append("g")
                .attr("class", "y axis")
            .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .text("Ichimoku");

        // Data to display initially
        data = feed.slice(0, 163)
        draw(data);
        // Only want this button to be active if the data has loaded
        $('#button').click(

          function() {

            if (time == 2){
                feed.shift();
                newdata = feed.slice(0,data.length);
                fechamento = newdata[newdata.length-1].close;
                console.log(newdata[newdata.length-1].date);
                draw(newdata);
            }

            if (time == 10){
                if (count == 5) {
                    feed.shift();
                    newdata = feed.slice(0,data.length);
                    draw(newdata);
                    count = 1;
                } else {
                    //newdata = feed.slice(0,data.length);
                    //var last = newdata[newdata.length-1];

                    // if (!fechamento) {

                    //     fechamento = last.close;
                    // }

                    //last.close = fechamento;
                    //draw(newdata);
                    count = count + 1;

                }
            }


        });        
    });

    function draw(data) {

        var ichimokuData = ichimokuIndicator(data);
        x.domain(data.map(ichimokuIndicator.accessor().d));
        // Calculate the y domain for visible data points (ensure to include Kijun Sen additional data offset)
        y.domain(techan.scale.plot.ichimoku(ichimokuData.slice(indicatorPreRoll-ichimokuIndicator.kijunSen())).domain());

        // Logic to ensure that at least +KijunSen displacement is applied to display cloud plotted ahead of ohlc
        var zoomable = x.zoomable().clamp(false);
        zoomable.domain([indicatorPreRoll, data.length+ichimokuIndicator.kijunSen()]);

        svg.selectAll("g.candlestick").datum(data).call(candlestick);
        svg.selectAll("g.ichimoku").datum(ichimokuData).call(ichimoku);
        svg.selectAll("g.x.axis").call(xAxis);
        svg.selectAll("g.y.axis").call(yAxis);
    }

}

    chart("Google, Inc.", "data10",10, 600, 400,true);
    chart("Facebook, Inc.", "data2",2, 600, 400, true);

</script>