<%content_for :head do%>
	Editando Título
<%end%>
					<%= render 'form' %>

					<%= link_to @titulo, :class => "btn btn-info" do %>
						<i class="fa fa-list-alt"></i> Exibir
					<% end %>

					<%= link_to titulos_path, :class => "btn btn-danger" do %>
						<i class="fa fa-arrow-left"></i> Voltar
					<% end %>						

				</div>
			</div>
		</div>
	</div>

