<%content_for :head do%>
  Editando Pregão
<%end%>

				<%= render 'form' %>

				<%= link_to pregoestitulos_path, :class => "btn btn-danger" do %>
					<i class="fa fa-arrow-left"></i> Voltar
				<% end %>						

			</div>
		</div>
	</div>
</div>
