<p id="notice"><%= notice %></p>

<p>
  <strong>Indicador:</strong>
  <%= @indicadorsetup.indicador %>
</p>

<%= link_to 'Edit', edit_indicadorsetup_path(@indicadorsetup) %> |
<%= link_to 'Back', indicadorsetups_path %>
