<%content_for :head do%>
	Novo Indicador
<%end%>

						<%= render 'form' %>

						<%= link_to indicadors_path, :class => "btn btn-danger" do %>
							<i class="fa fa-arrow-left"></i> Voltar
						<% end %>   

					</div>
				</div>
			</div>
		</div>
