<p id="notice"><%= notice %></p>

<p>
  <strong>Tempo:</strong>
  <%= @tempografico.tempo %>
</p>

<%= link_to 'Edit', edit_tempografico_path(@tempografico) %> |
<%= link_to 'Back', tempograficos_path %>
